<?xml version="1.0"?>
<!-- 
  Copyright (c) 2022 PAL Robotics S.L. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
 -->
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="tiago" >

  <xacro:macro name="tiago_ros2_control" params="use_sim:=^|true">

    <xacro:arg name="arm" default="true" />
    <xacro:arg name="end_effector" default="pal-hey5"/>
    <xacro:arg name="description_calibration_dir" default="$(find tiago_description)/urdf/calibration" />

    <xacro:property name="has_arm" value="${arm != 'no-arm'}" />
    <xacro:property name="end_effector" value="$(arg end_effector)" />

    <xacro:include filename="$(find pmb2_description)/urdf/wheels/wheel.ros2_control.xacro" />
    <xacro:include filename="$(find tiago_description)/urdf/torso/torso.ros2_control.xacro" />
    <xacro:include filename="$(find tiago_description)/urdf/head/head.ros2_control.xacro" />

    <xacro:if value="${has_arm}">
      <xacro:include filename="$(find tiago_description)/urdf/arm/arm.ros2_control.xacro" />
      <xacro:include filename="$(find tiago_description)/urdf/arm/wrist.ros2_control.xacro" />

      <xacro:if value="${end_effector == 'pal-gripper'}">
        <xacro:include filename="$(find pal_gripper_description)/urdf/gripper.ros2_control.xacro" />
      </xacro:if>
      <xacro:if value="${end_effector == 'pal-hey5'}">
        <xacro:include filename="$(find tiago_description)/urdf/end_effector/pal-hey5.ros2_control.xacro" />
      </xacro:if>
    </xacro:if>
    <xacro:include filename="$(find pmb2_description)/urdf/sensors/sensors.ros2_control.xacro"/>


    <!-- calibration offsets -->
    <xacro:include filename="$(arg description_calibration_dir)/calibration_constants.urdf.xacro" />

    <ros2_control name="ros2_control_tiago_system" type="system">
      <hardware>
        <xacro:if value="$(arg use_sim)">
          <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </xacro:if>
        <xacro:unless value="$(arg use_sim)">
          <plugin>robot_control/RobotControl</plugin>
        </xacro:unless>

      </hardware>

      <!-- wheels -->
      <xacro:ros2_control_wheel side="right" />
      <xacro:ros2_control_wheel side="left" />

      <!-- IMU -->
      <xacro:if value="$(arg use_sim)">
        <xacro:ros2_control_imu name="base_imu_sensor"/>
      </xacro:if>

      <!-- torso -->
      <xacro:ros2_control_torso name="torso_lift" reduction="1.0" />

      <!-- head -->
      <xacro:ros2_control_head name="head_1" reduction="1.0" offset="${head_1_joint_offset}" />
      <xacro:ros2_control_head name="head_2" reduction="1.0" offset="${head_2_joint_offset}" />

      <xacro:if value="${has_arm}">
        <!-- arm -->
        <xacro:ros2_control_arm name="arm_1" reduction="1.0" offset="${arm_1_joint_offset}" />
        <xacro:ros2_control_arm name="arm_2" reduction="1.0" offset="${arm_2_joint_offset}" />
        <xacro:ros2_control_arm name="arm_3" reduction="1.0" offset="${arm_3_joint_offset}" />
        <xacro:ros2_control_arm name="arm_4" reduction="1.0" offset="${arm_4_joint_offset}" />

        <!-- wrist -->
        <xacro:ros2_control_wrist_rotational name="arm_5" reduction="1.0" offset="${arm_5_joint_offset}" />
        <xacro:ros2_control_wrist_differential name="arm" number_1="6" number_2="7"
                                               act_reduction_1="-1.0" act_reduction_2="1.0"
                                               jnt_reduction_1="1.0" jnt_reduction_2="1.0"
                                               number_1_offset="${arm_6_joint_offset}" number_2_offset="${arm_7_joint_offset}" />

        <xacro:if value="${end_effector == 'pal-gripper'}">
          <!-- pal-gripper -->
          <xacro:ros2_control_gripper name="gripper_left_finger" reduction="1.0" />
          <xacro:ros2_control_gripper name="gripper_right_finger" reduction="1.0" />
        </xacro:if>
        <xacro:if value="${end_effector == 'pal-hey5'}">
          <!-- pal-hey5 -->
          <xacro:ros2_control_hey5 name="hand"/>
        </xacro:if>
      </xacro:if>

      <!-- Force Torque sensor -->
      <xacro:if value="${has_ft_sensor}">
        <xacro:include filename="$(find tiago_description)/urdf/sensors/sensors.ros2_control.xacro"/>
        <xacro:if value="$(arg use_sim)">
          <xacro:ros2_control_force_torque_sensor name="wrist_ft_joint_force_torque"/>
        </xacro:if>
      </xacro:if>

    </ros2_control>
  </xacro:macro>
</robot>
