<?xml version="1.0"?>
<!-- 
  Copyright (c) 2022 PAL Robotics S.L. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
 -->
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="ros2_control_wrist_rotational" params="name reduction offset" >
    <joint name="${name}_joint">
      <command_interface name="position" />

      <state_interface name="position" />
      <state_interface name="velocity" />
      <state_interface name="effort" />
    </joint>

    <!-- @TODO transmissions for ros2 system -->
    <!--
    <transmission name="${name}_${number}_trans">
      <plugin>transmission_interface/SimpleTransmission</plugin>
      <actuator name="${name}_${number}_motor" role="actuator1">
        <mechanicalReduction>${reduction}</mechanicalReduction>
      </actuator>
      <joint name="${name}_${number}_joint">
        <offset>${offset}</offset>
        <hardwareInterface>hardware_interface/JointStateInterface</hardwareInterface>
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
    </transmission>
    -->
  </xacro:macro>

  <xacro:macro name="ros2_control_wrist_differential"
               params="name_1 name_2 act_reduction_1 act_reduction_2 jnt_reduction_1 jnt_reduction_2 number_1_offset number_2_offset" >
    <joint name="${name_1}_joint">
      <command_interface name="position" />

      <state_interface name="position" />
      <state_interface name="velocity" />
      <state_interface name="effort" />
    </joint>

    <joint name="${name_2}_joint">
      <command_interface name="position" />

      <state_interface name="position" />
      <state_interface name="velocity" />
      <state_interface name="effort" />
    </joint>

    <!-- @TODO transmissions for ros2 system -->
    <!--
    <transmission name="${name1}_${name2}_wrist_trans">
      <plugin>transmission_interface/DifferentialTransmission</plugin>
      <actuator name="${name_1}_motor" role="actuator1">
        <mechanicalReduction>${act_reduction_1}</mechanicalReduction>
      </actuator>
      <actuator name="${name_2}_motor" role="actuator2">
        <mechanicalReduction>${act_reduction_2}</mechanicalReduction>
      </actuator>
      <joint name="${name_1}_joint" role="joint1">
        <offset>${number_1_offset}</offset>
        <mechanicalReduction>${jnt_reduction_1}</mechanicalReduction>
        <hardwareInterface>hardware_interface/JointStateInterface</hardwareInterface>
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        <ignoreTransmissionAbsoluteEncoder>1</ignoreTransmissionAbsoluteEncoder>
      </joint>
      <joint name="${name_2}_joint" role="joint2">
        <offset>${number_2_offset}</offset>
        <mechanicalReduction>${jnt_reduction_2}</mechanicalReduction>
        <hardwareInterface>hardware_interface/JointStateInterface</hardwareInterface>
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        <ignoreTransmissionAbsoluteEncoder>1</ignoreTransmissionAbsoluteEncoder>
      </joint>
    </transmission>
    -->
  </xacro:macro>
</robot>
