<?xml version="1.0"?>
<!--

  Copyright (c) 2011, PAL Robotics, S.L.
  All rights reserved.

  This work is licensed under the Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License.
  To view a copy of this license, visit http://creativecommons.org/licenses/by-nc-nd/3.0/ or send a letter to
  Creative Commons, 444 Castro Street, Suite 900, Mountain View, California, 94041, USA.
-->

<robot name="tiago" xmlns:xacro="http://ros.org/wiki/xacro">
  <gazebo>
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
      <!-- in the future move this param file somewhere else -->
      <parameters>$(find tiago_controller_configuration)/config/gazebo_controller_manager_cfg.yaml</parameters>
      <xacro:if value="${is_multiple}">
        <!-- Do something about multirobot -->
      </xacro:if>
      <xacro:unless value="${is_multiple}">
        <!-- Do something about multirobot -->
      </xacro:unless>
    </plugin>

    <plugin filename="libgazebo_ros_p3d.so" name="gazebo_ros_p3d">
      <body_name>base_footprint</body_name>
      <always_on>true</always_on>
      <update_rate>100.0</update_rate>
      <ros>
        <remapping>odom:=ground_truth_odom</remapping>
      </ros>
      <xacro:if value="${is_multiple}">
	    <!--<robotNamespace>/${nsp}</robotNamespace>-->
      </xacro:if>
    </plugin>
  </gazebo>

  <gazebo>
    <!--- backwards compatibility, used to be gazebo_world_odometry pal plugin-->
    <plugin filename="libgazebo_ros_p3d.so" name="gazebo_ros_odometry">
      <body_name>base_footprint</body_name>
      <always_on>true</always_on>
      <update_rate>1000.0</update_rate>
      <ros>
        <remapping>odom:=floating_base_pose_simulated</remapping>
      </ros>
      <xacro:if value="${is_multiple}">
	    <!--<robotNamespace>/${nsp}</robotNamespace>-->
      </xacro:if>
    </plugin>
  </gazebo>

  <gazebo reference="base_imu_link">
    <sensor name="imu_sensor" type="imu">
      <always_on>1</always_on>
      <update_rate>10.0</update_rate>
      <imu>
        <noise>
          <type>gaussian</type>
          <rate>
            <mean>0.0</mean>
            <stddev>2e-4</stddev>
            <bias_mean>0.0000075</bias_mean>
            <bias_stddev>0.0000008</bias_stddev>
          </rate>
          <accel>
            <mean>0.0</mean>
            <stddev>1.7e-2</stddev>
            <bias_mean>0.1</bias_mean>
            <bias_stddev>0.001</bias_stddev>
          </accel>
        </noise>
      </imu>
      <plugin name="base_imu" filename="libgazebo_ros_imu_sensor.so">
        <ros>
          <!-- publish to /imu/data -->
          <remapping>~/out:=base_imu</remapping>
        </ros>
      </plugin>
    </sensor>
  </gazebo>

  <!-- define global properties -->
  <xacro:property name="M_PI" value="3.1415926535897931" />

</robot>
