<?xml version="1.0"?>

<!--
  Copyright (c) 2011, PAL Robotics, S.L.
  All rights reserved.

  This work is licensed under the Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License.
  To view a copy of this license, visit http://creativecommons.org/licenses/by-nc-nd/3.0/ or send a letter to
  Creative Commons, 444 Castro Street, Suite 900, Mountain View, California, 94041, USA.
-->

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="ir_emitter_gazebo" params="name code range_min range_max fov" >
    <gazebo reference="${name}_link">
      <sensor type="ray" name="${name}">
        <pose>0 0 0 0 0 0</pose>
        <update_rate>1.0</update_rate>
        <visualize>true</visualize>
        <ray>
          <scan>
            <horizontal>
              <samples>${100 * fov/(360 * deg_to_rad)}</samples>
              <resolution>1</resolution>
              <min_angle>-${fov/2}</min_angle>
              <max_angle>${fov/2}</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>${range_min}</min>
            <max>${range_max}</max>
            <resolution>0.01</resolution>
          </range>
        </ray>
        <!-- @todo implement the ir_emitter in pal_gazebo_plugins -->
        <!--plugin filename="libgazebo_ros_ir_emitter.so" name="gazebo_ros_ir_emitter">
          <alwaysOn>true</alwaysOn>
          <frameName>${name}_link</frameName>
          <code>${code}</code>
          <minRange>${range_min}</minRange>
          <maxRange>${range_max}</maxRange>
          <fov>${fov}</fov>
        </plugin-->
      </sensor>
    </gazebo>
  </xacro:macro>

</robot>
