<?xml version="1.0"?>
<!--

  Copyright (c) 2016, PAL Robotics, S.L.
  All rights reserved.

  This work is licensed under the Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License.
  To view a copy of this license, visit http://creativecommons.org/licenses/by-nc-nd/3.0/ or send a letter to
  Creative Commons, 444 Castro Street, Suite 900, Mountain View, California, 94041, USA.

  ROS Gazebo plugin for RGBD sensor (OpenNI/Kinect/ASUS) imitating the real ASUS Xtion Pro Life
   * sensor_msgs/Image format RGB8 in rgb/image_raw
   * Depth distance sensor_msgs/Image format 32FC1 in depth_registered/image_raw
   * sensor_msgs/PointCloud2 in depth_registered/points with RGB
  Note that the depth 16UC1 image is NOT published in simulation.
  Note that the IR image is NOT published in simulation.
-->
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="openni_camera_gazebo_v0" params="name">
    <gazebo reference="${name}_rgb_frame">
      <sensor type="depth" name="${name}_frame_sensor">
        <always_on>true</always_on>
        <update_rate>30.0</update_rate>
        <camera>
          <horizontal_fov>${63.0*M_PI/180.0}</horizontal_fov>
          <image>
            <format>B8G8R8</format>
            <width>640</width>
            <height>480</height>
          </image>
          <clip>
            <near>0.3</near>
            <far>8.0</far>
          </clip>
	  <distortion>
            <k1>0.00000001</k1>
            <k2>0.00000001</k2>
            <k3>0.00000001</k3>
            <p1>0.00000001</p1>
            <p2>0.00000001</p2>
          </distortion>
        </camera>
        <plugin name="${name}_frame_controller" filename="libgazebo_ros_camera.so">
          <camera_name>${name}</camera_name>
          <ros>
			  <!-- <namespace>${name}</namespace>-->
	    <argument>${name}/image_raw:=${name}/rgb/image_raw</argument>
	    <argument>${name}/camera_info:=${name}/rgb/camera_info</argument>
	    <argument>${name}/depth/image_raw:=${name}/depth_registered/image_raw</argument>
	    <argument>${name}/depth/camera_info:=${name}/depth_registered/camera_info</argument>
	    <argument>${name}/points:=${name}/depth_registered/points</argument>
          </ros>
          <frame_name>${name}_rgb_optical_frame</frame_name>
          <min_depth>0.3</min_depth>
          <max_depth>8.0</max_depth>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
