<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="arm"/>
  <arg name="end_effector"/>
  <arg name="remap_footprint_to" default=""/>
  <arg name="robot_namespace" default=""/>
  <arg name="base_type_suffix" default=""/>

  <!-- end effector suffix -->
  <arg name="ee_suffix" value="$(eval (end_effector if end_effector else 'no-ee'))"/>

  <rosparam command="load" ns="dynamic_footprint_publisher" file="$(find pmb2_description)/urdf/base/footprint.yaml" />

  <node name="dynamic_footprint_publisher" pkg="dynamic_footprint" type="dynamic_footprint_publisher.py">
    <rosparam command="load" file="$(find custom_ee_configuration)/config/dynamic_footprint_arm_custom.yaml" if="$(eval ee_suffix == 'custom')"/>
    <rosparam command="load" file="$(find tiago_bringup)/config/dynamic_footprint_arm_$(arg ee_suffix)$(arg base_type_suffix).yaml" if="$(eval arm and ee_suffix != 'custom')"/>
    <rosparam command="load" file="$(find tiago_bringup)/config/dynamic_footprint_no-arm.yaml" unless="$(arg arm)"/>
    <param if="$(eval robot_namespace != '')" name="tf_prefix" value="$(arg robot_namespace)/"/>
    <remap if="$(eval remap_footprint_to != '')" from="/dynamic_footprint_publisher/footprint" to="$(arg remap_footprint_to)"/>
  </node>
</launch>
