<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="ns"                        default="look_to_link"    />
    <arg name="link_to_look_at"           default="/arm_7_link"     />
    <arg name="base_frame"                default="/base_link"      />
    <arg name="send_goals_to_head_action" default="false"           />
    <arg name="pointing_frame"            default="head_2_link"     />
    <arg name="publish_only_when_moving"  default="true"            />
    <arg name="min_distance_moved"        default="0.005"            />
    <arg name="check_rate"                default="10"              />

    <group ns="$(arg ns)">
        <node pkg="look_to_link" type="look_at_link.py" name="look_at_link_node">
            <param name="link_to_look_at"                value="$(arg link_to_look_at)"               />
            <param name="base_frame"                     value="$(arg base_frame)"                    />
            <param name="send_goals_to_head_action"      value="$(arg send_goals_to_head_action)"     />
            <param name="pointing_frame"                 value="$(arg pointing_frame)"                />
            <param name="publish_only_when_moving"       value="$(arg publish_only_when_moving)"      />
            <param name="min_distance_moved"             value="$(arg min_distance_moved)"            />
            <param name="check_rate"                     value="$(arg check_rate)"                    />
            <remap from="pub_head_topic"                 to="/head_controller/point_head_action/goal" />
            <remap from="pub_posestamped"                to="/look_link_ps"                           />
        </node>
    </group>

</launch>
