<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- execute pre-recorded motions -->
  <rosparam file="$(find tiago_bringup)/config/tiago_motions.yaml" command="load" />
  <node pkg="play_motion" type="play_motion" name="play_motion">
    <rosparam file="$(find tiago_bringup)/config/approach_planner.yaml" command="load" />
  </node>
  <node pkg="play_motion" type="is_already_there.py" name="is_already_there" />
</launch>
