<?xml version="1.0" encoding="UTF-8"?>
<launch>
<!--

    <include file="$(find tiago_wbc)/launch/tiago_capsule_description.launch" />
    <node name="controller_manager_wbc_loader"
        pkg="controller_manager" type="controller_manager" output="screen"
        args="load whole_body_kinematic_controler" /> -->

</launch>
