<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="local_joint_control_type" default=""/>
  <arg name="ns" default=""/>
  <arg name="local_joint_control" default="direct_position_control"/>
  <arg name="controller_pkg_name" default="tiago_controller_configuration"/>

  <include file="$(find pal_local_joint_control)/launch/$(arg local_joint_control).launch" >
    <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
    <arg name="ns" value="$(arg ns)"/>
    <arg name="joint_name" value="head_1_joint"/>
  </include> 

  <include file="$(find pal_local_joint_control)/launch/$(arg local_joint_control).launch" >
    <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
    <arg name="ns" value="$(arg ns)"/>
    <arg name="joint_name" value="head_2_joint"/>
  </include>

</launch>
