<launch deprecated="Please use 'upload.lauch' instead.">
  <arg name="robot" default="titanium"/>
  <arg name="multi" default=""/>

  <include file="$(find tiago_description)/robots/upload.launch">
    <arg name="robot" value="$(arg robot)"/>
    <arg name="multi" value="$(arg multi)"/>
  </include>

</launch>
