<launch>
  <arg name="multi" default=""/>
  <arg name="arm"/>
  <arg name="end_effector"/>
  <arg name="ft_sensor"/>
  <arg name="laser_model"/>
  <arg name="camera_model"/>

  <!-- Robot description -->
  <param name="robot_description"
    command="$(find xacro)/xacro --inorder
    '$(find tiago_description)/robots/tiago.urdf.xacro'
    arm:=$(arg arm)
    end_effector:=$(arg end_effector)
    ft_sensor:=$(arg ft_sensor)
    laser_model:=$(arg laser_model)
    camera_model:=$(arg camera_model)
    multiple:=$(arg multi)" />
           <rosparam command="load" file="$(find tiago_description)/config/collision/collision_parameters.yaml" />
</launch>
